<div id="app"><!-- application launched here --></div>
<div id="loading"></div>

<script src="<%= static_path(@conn, "/js/vendors.bundle.js") %>"></script>
<script src="<%= static_path(@conn, "/js/preview.bundle.js") %>"></script>
