<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stagehand</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
      <style type="text/css">
        body {
          font-family: 'Lato', sans-serif;
        }
      </style>
    <%= render_existing @view_module, "styles.css", assigns %>

    <%= render_gon_script(@conn) %>
  </head>

  <body>
    <%= render AppWeb.SharedView, "flashes.html", conn: @conn %>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
