<h1>Welcome to StageHand</h1>
<p>On demand previews of your pull requests</p>

<h2>Login with:</h2>
<ul>
  <%= if App.Providers.enabled?(:bitbucket) do %>
    <li>
      <%= link("Bitbucket", to: authorisation_path(@conn, :request, "bitbucket")) %>
    </li>
  <% end %>
  <%= if App.Providers.enabled?(:github) do %>
    <li>
      <%= link("Github", to: authorisation_path(@conn, :request, "github")) %>
    </li>
  <% end %>
</ul>
