.root {
  color: #999;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.root svg {
  fill: #999;
  width: 0.85rem;
}

.about {
  flex-grow: 1;
  padding-right: 1rem;
}

.active {
  color: #fff;
}

.active svg {
  fill: #fff;
}

.description {
  display: block;
  font-size: 0.75rem;
}
